<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create URL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <form action="/list" method="POST">
        <input autocomplete="off" name="o_url" placeholder='Enter the original url' type="text">
        <input autocomplete="off" name="n_url" placeholder='Enter the new url' type="text">
        <input type="submit" value="Add">
    </form>

</body>
</html>