<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register!</title>

</head>
<body>
    <h3>Register to proceed</h3>
    <form action="/register_confirmation" method="post">
        <input autocomplete="off" name="uname" placeholder='Enter your Username' type="text">
        <input autocomplete="off" name="pass" placeholder='Enter your Password' type="text">
        <input type="submit" value="Register">
    </form>
    <h3>Already registered?</h3>
    <button onclick="location.href='/login'">Login</button>


</body>
</html>